{% extends 'base.html' %}

{% block body %}




	<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          {% for i in object_list %}
        <div class="col cardd">
          <div class="card shadow-sm">
{#            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>#}
              <img src="/media/{{ i.photo }}" class="bd-placeholder-img card-img-top lool" alt="..."  width="225" height="225" >

            <div class="card-body ">
              <h5 class="card-title">{{ i.title }}</h5>
                <p class="card-text">{{ i.artical|slice:":40"|safe }}...<a style="text-decoration: none" href="/events/{{ i.slug }}">Read more</a></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a  href="/events/{{ i.slug }}" type="button" class="btn btn-sm btn-outline-warning">View</a>
{#                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>#}
                </div>
                <small class="text-muted">{{ i.timestamp|date:'d/m/Y' }}</small>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}

      </div>
    </div>
  </div>










{% endblock %}