{% extends 'base.html' %}

{% block body %}


<br>
<br><br>
<br><br>

<div class="connt">

	<div class="row m-0 p-0">

		<div class="col-12  prodimg col-md-6 text-center m-0 p-0  order-md-2">
			<img src="/media/photos/sf4.png" class="img-fluid" >
		</div>


		<div class="col-12 col-md-6 order-md-1">
				<h1>DATA MINING </h1>
				<hr class="bg-warning" style="width: 40%; height: 2px;opacity: 100">

				<p class="">The amount of data that flows from, to, and through businesses is enormous. Because this data is growing so rapidly, it is beyond the reach of many organizations to utilize it. </p>

				<p class="">Successful businesses effectively use the abundance of data they have access to. This enables them to make more reliable forecasts, data-driven decisions and pursue better strategies.</p>

				<p class="">Acquiring and utilizing data results in.</p>

				<p class="lead">
					<ul>
						<li>Data-driven and automated decision making</li>
						<li>Cost reduction</li>
						<li>Industry and customer insights</li>

					</ul>
				</p>

				<!--
				<p class="lead" >We tailor custom software for your specific needs and requests. At later stages we would gladly help you add new features and make adjustments so your software keeps supporting your new business needs.</p> -->
		</div>

	</div>
<br>

	<div class="row m-0 p-0">




		<div class="col-12 col-md-6 ">
				<h3 class="text-warning heaad">Data extraction/gathering</h3>
				<hr class="bg-royal" style="width: 40%; height: 2px;opacity: 100">

				<p class="">Information gathering from multiple sources such as (websites, excel sheets, API’s), combining and cleaning the data, and providing it in the required format.<b> Manufacturer,Suppliers and industries ,business owners and startup </b> have benefited of such services. </p>
		</div>




		<div class="col-12 col-md-6 ">
				<h3 class="text-warning heaad">Data Analysis and Reporting</h3>
				<hr class="bg-royal" style="width: 40%; height: 2px;opacity: 100">

				<p class="">Automated research of marketplaces such as Amazon and Etsy to identify which keywords are ranking high. By following and identifying high ranking keywords/niches we helped for example book authors choose the topic of their next book. Dropshippers are also big fans of these services </p>
		</div>


	</div>

	<br>
	<br>



</div>


{% endblock %}