{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body %}

<div class=" text mainshow text-white">
<h1 class="herohead reset_selection font-weight-bold pt-2 text-left">Reliable I.T and Software Development partner for growing businesses.

</h1>
<p class="lead heaad reset_selection" id>We Develop &amp; Design Website's And Software.</p>

<a href="#contact" class="btn bg-royal text-white btn-lg lbt px-3 py-2" data-sr-id="3" style="visibility: visible; opacity: 1; transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 2s;">Contact Us</a>

<h6 class="text-center" >Scroll</h6>
</div>


<div id="particles-js">
</div>


<div class="bg-white text-center pt-4 container">

	<h1 class="herohead2 my-4">What happens in our lab...</h1>
	<p class="lead" style="font-weight: light;">It is our goal to co-create projects by blending together your visions with our expertise. We deliver fully functional and practical tools that will return on investment the moment they leave our lab.</p>
		<div class="d-grid gap-2 col-2 mx-auto">
{#		  <a href="{% url 'contact_us' %}" class="btn  bg-royal rounded-pill text-white" >Free consuting Session</a>#}
		</div>

</div>

<br>
<br>
<div class="connt">

    {% for i in prod %}
	<div class="row m-0 p-0">

		<div class="col-12 col-md-6  text-center m-0 p-0  order-md-{{ i.order_img }}">
			<img src="/media/{{ i.photo }}" class="img-fluid " >
		</div>


		<div class="col-12 col-md-6 order-md-{{ i.order_text }} ">
				<h1>{{ i.title }}</h1>
				<hr class="bg-warning" style="width: 40%; height: 2px;opacity: 100"><br>
                {{ i.description|safe }}

			   <a href="{{ i.site }}" class="btn bg-royal rounded-pill text-white" type="button">Read more</a>

		</div>

	</div>
    {% endfor %}
<br>
</div>

<div class="bg-grey text-center pt-4 pb-4">
	<DIV class="container">
	<h1 class="my-4 herohead2"> How we work our co-magic...</h1>
	<h3 class="my-4 text-royal ">In order to deliver custom-made projects we follow these next steps:</h3>
	<p class="lead text-left" style="font-weight: light;">1. We understand your needs and expectations and translate it into <b> actionable requirements.</b></p>
	<hr style="width: 70%;margin-left: auto;margin-right: auto;">
	<p class="lead" style="font-weight: light;">2. Subsequently we transform the mapped out objectives into vibrant <b>wireframes.</b></p>
	<hr style="width: 70%;margin-left: auto;margin-right: auto;">
	<p class="lead" style="font-weight: light;">3. Finally,<b> we engineer, test and ship</b> your digital products.</p>
{#		<div class="d-grid gap-2 col-2 mx-auto">#}
{#		  <button class="btn btn-warning rounded-pill text-white" type="button">Button</button>#}
{#		</div>#}
	</DIV>

</div>

<div  class="bg-royal text-center py-4 " >
	<div class="container">
		<h1 class="my-4 text-white herohead2">What have we done so far...</h1>
		<p class="lead my-4 text-white  ">Our services have increased the businesses of various clients. Amongst our clients we have had:</p>

		<div class="row mx-2 ">
            {% for i in case %}
	    	  <div class="col-md-4">
		          <div class="card mb-4 shadow-sm text-center ">
		            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></svg>
		            <div class="card-body">
		              <h4 class="card-text text-bold text-center">{{ i.title }}</h4>
		              <p class="card-text text-muted">{{ i.message }}</p>
		            </div>
		          </div>
              </div>
            {% endfor %}


		  </div>


        <br>
		<div class="d-grid gap-2 col-2 mx-auto">
		  <a href="{% url 'service' %}" class="btn btn-outline-warning rounded-pill" type="button">Know more</a>
		</div>

	</div>
</div>



<div  class=" py-4 " >
	<div class="container">
		<div class="row m-0 p-0">
			<div class="col-12 col-md-5">
				<h4 class="text-warning">Our clients</h4>
				<h1 class="">We worked with...</h1>
			</div>
			<div class="col-12 col-md-7 ">
				<div class="scroll">


                    {% for i in client %}
					<img src="/media/{{ i.img }}" class="mx-2" style="max-height:{{  i.height }}px;max-width: {{ i.width }}px">
                    {% endfor %}

     			</div>
1
			</div>

		</div>


	</div>
</div>




<div class="bg-grey text-center pt-5 pb-5">
	<DIV class="container">
	<h3 class="my-4 text-royal"> We believe in Seth Godin’s quote:</h3>
	<h1 class="my-4 ">“You are not your resume;<BR>
	you are your work!”</h1>
	<BR>
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
       <img src="img/sf.png" class="d-block w-100" alt="..." style="max-width: 50%;max-height:50% ">

    </div>
    <div class="carousel-item">
      <img src="img/sf.png" class="d-block w-100" alt="..." style="max-width: 50%;max-height:50% ">
    </div>
    <div class="carousel-item">
      <img src="img/sf.png" class="d-block w-100" alt="..." style="max-width: 50%;max-height:50% ">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<br>
		<div class="d-grid gap-2 col-2 mx-auto">
		  <button class="btn btn-outline-warning rounded-pill" type="button">Button</button>
		</div>


	</DIV>
</div>

	<script type="text/javascript" src="/media/particles.js"></script>
	<script type="text/javascript" src="/media/app.js"></script>


{% endblock %}
