{% extends 'base.html' %}

{% block body %}
    <style>
      .bg-blue{background: #1a1b1f;color: white}
  .bg-green{background: #94d751;color: white}

  .text-green{color: #94d751}
    </style>

 <div class=" bg-blue " style="background-color: #1a1b1f">
    <div class="container py-5">
    <div class="row  p-0 m-0 py-5">
      <div class="col-md-6 cardd1 col-12 ">
      <h1 class="text-green" style="font-weight: normal;">Intelligent and Customised<br> ERP management system </h1><br>
          <p class="text-left lead">Discover the modern ERP system that utilises artificial intelligence to transform your business processes – in the cloud or on-premise.</p>
<br>
          <p class="text-left lead">our system handle your sale follow-ups,<a href="#" class="text-warning" style="text-decoration: none"> quotations, work-order ,invoicing ,challan ,P.O</a> and accounts, repetitive market-research. <a href="#mainids">(VIEW)</a></p>
<br>
Simple as Excel & Impactful as SAP
      </p>
        <br>

        <button type="button" class="btn btn-primary ">Large button</button>
        <button type="button" class="btn btn-success bg-green ">Large button</button>
      </div>

      <div class="col-md-6 col-12 cardd text-center my-3">
        <img src="/media/img/main3.jpg" class="img-fluid" >
      </div>
    </div>
    </div>
  </div>



<div style="background-color: #f6f7f9">


<div class=" py-4 ">
  <div class="container">
    <div class="row m-0 p-0">
      <div class="col-12 col-md-3">
        <h4 class="text-warning">Our key</h4>
        <h3 class="">Featured Content</h3>
      </div>
      <div class="col-12 col-md-9 ">
    <div class="scroll">
            <img src="/media/img/Add1.png" class="mx-2" style="max-height:150px;max-width: 150px">

            <img src="/media/img/Add2.png" class="mx-2" style="max-height:150px;max-width: 150px">

            <img src="/media/img/Add4.png" class="mx-2" style="max-height:150px;max-width: 150px">

            <img src="/media/img/Add5.png" class="mx-2" style="max-height:150px;max-width: 150px">

            <img src="/media/img/Add6.png" class="mx-2" style="max-height:150px;max-width: 150px">

            <img src="/media/img/Add7.png" class="mx-2" style="max-height:150px;max-width: 150px">

            <img src="/media/img/Add8.png" class="mx-2" style="max-height:150px;max-width: 150px">

            <img src="/media/img/Add3.png" class="mx-2" style="max-height:150px;max-width: 150px">

     </div>

      </div>

    </div>


  </div>
</div>



</div>






<br>
<div class="container">


<div class="row m-0 p-0">
    <div class="col-12 col-md-6 order-md-1 ">
        <h1 >C.R.M</h1>
        <small>customer relatinship manager</small>
        <hr class="bg-green" style="width: 40%; height: 2px;opacity: 100">
                <p class="lead"> Boring, repetitive tasks is not a human’s job. Let us build custom ERP sofware so you can work on growing your business..</p>          <p class="lead">Let our system handle your sale follow-ups, quotations, work-order , invoicing,challan,P.O and accounts, repetitive market-research. Start using your time for strategic activities..</p>
         <a href="/erp/" class="btn bg-royal rounded-pill text-white" type="button">Read more</a>
    </div>

    <div class="col-12 col-md-6 cardd text-center m-0 p-0  order-md-2">
      <img src="/media/img/pic6.png" class="img-fluid ">
    </div>
</div>


<div class="row m-0 p-0">


    <div class="col-12 col-md-6 order-md-2 ">
        <h1>Lead management system</h1>
<!--         <small>customer relatinship manager</small>
 -->        <hr class="bg-warning" style="width: 40%; height: 2px;opacity: 100">
                <p class="lead"> Boring, repetitive tasks is not a human’s job. Let us build custom ERP sofware so you can work on growing your business..</p>          <p class="lead">Let our system handle your sale follow-ups, quotations, work-order , invoicing,challan,P.O and accounts, repetitive market-research. Start using your time for strategic activities..</p>

         <a href="/erp/" class="btn bg-royal rounded-pill text-white" type="button">Read more</a>
    </div>

    <div class="col-12 col-md-6 cardd text-center m-0 p-0  order-md-1">
      <img src="/media/img/pic7.png" class="img-fluid ">
    </div>


</div>

<hr>
<div class="row m-0 p-0">
    <div class="col-12 col-md-6 order-md-1 ">
        <h1>Track all your <span class="text-danger">Sales</span> and <span class="text-danger">Purchase</span>Transactions</h1>
<!--         <small>customer relatinship manager</small>
 -->        <hr class="bg-green" style="width: 40%; height: 2px;opacity: 100">
                <p class="lead"> Boring, repetitive tasks is not a human’s job. Let us build custom ERP sofware so you can work on growing your business..</p>          <p class="lead">Let our system handle your sale follow-ups, quotations, work-order , invoicing,challan,P.O and accounts, repetitive market-research. Start using your time for strategic activities..</p>

         <a href="/erp/" class="btn bg-royal rounded-pill text-white" type="button">Read more</a>

    </div>

    <div class="col-12 col-md-6 cardd text-center m-0 p-0  order-md-2">
      <img src="/media/img/pic8.png" class="img-fluid ">
    </div>

</div>


<div class="row m-0 p-0" id="mainids">

    <div class="col-12 col-md-6 cardd text-center m-0 p-0  order-md-1">
      <img src="/media/img/pic9.gif" class="img-fluid ">
    </div>


    <div class="col-12 col-md-6 order-md-2 ">
        <h1>Automate all your <span class="text-primary">Invoicing</span> and <span class="text-primary">paper work</span></h1>
<!--         <small>customer relatinship manager</small>
 -->        <hr class="bg-warning" style="width: 40%; height: 2px;opacity: 100"><br>
                <p class="lead"> Boring, repetitive tasks is not a human’s job. Let us build custom ERP sofware so you can work on growing your business..</p>          <p class="lead">Let our system handle your sale follow-ups, quotations, work-order , invoicing,challan,P.O and accounts, repetitive market-research. Start using your time for strategic activities..</p>

         <a href="/erp/" class="btn bg-royal rounded-pill text-white" type="button">Read more</a>
    </div>

</div>

<hr>
<div class="row m-0 p-0">
    <div class="col-12 col-md-6 order-md-1 ">
        <h1>Accounting & Finance</h1>
<!--         <small>customer relatinship manager</small>
 -->        <hr class="bg-green" style="width: 40%; height: 2px;opacity: 100">
                <p class="lead"> Boring, repetitive tasks is not a human’s job. Let us build custom ERP sofware so you can work on growing your business..</p>          <p class="lead">Let our system handle your sale follow-ups, quotations, work-order , invoicing,challan,P.O and accounts, repetitive market-research. Start using your time for strategic activities..</p>

         <a href="/erp/" class="btn bg-royal rounded-pill text-white" type="button">Read more</a>

    </div>

    <div class="col-12 col-md-6 cardd text-center m-0 p-0  order-md-2">
      <img src="/media/img/pic10.png" class="img-fluid ">
    </div>

</div>


<div class="row m-0 p-0">

    <div class="col-12 col-md-6 cardd text-center m-0 p-0  order-md-1">
      <img src="/media/img/pic11.png" class="img-fluid ">
    </div>

    <div class="col-12 col-md-6 order-md-2 ">
        <h1>Get all <span class="text-danger">Report</span> in PDF for better analysis </h1>
<!--         <small>customer relatinship manager</small>
 -->        <hr class="bg-warning" style="width: 40%; height: 2px;opacity: 100"><br>
                <p class="lead"> Boring, repetitive tasks is not a human’s job. Let us build custom ERP sofware so you can work on growing your business..</p>          <p class="lead">Let our system handle your sale follow-ups, quotations, work-order , invoicing,challan,P.O and accounts, repetitive market-research. Start using your time for strategic activities..</p>

         <a href="/erp/" class="btn bg-royal rounded-pill text-white" type="button">Read more</a>
    </div>

</div>

<hr>
<div class="row m-0 p-0">
    <div class="col-12 col-md-6 order-md-1 ">
        <h1>Inventory Control</h1>
<!--         <small>customer relatinship manager</small>
 -->        <hr class="bg-green" style="width: 40%; height: 2px;opacity: 100">
                <p class="lead"> Boring, repetitive tasks is not a human’s job. Let us build custom ERP sofware so you can work on growing your business..</p>          <p class="lead">Let our system handle your sale follow-ups, quotations, work-order , invoicing,challan,P.O and accounts, repetitive market-research. Start using your time for strategic activities..</p>

         <a href="/erp/" class="btn bg-royal rounded-pill text-white" type="button">Read more</a>

    </div>

    <div class="col-12 col-md-6 cardd text-center m-0 p-0  order-md-2">
      <img src="/media/img/pic12.png" class="img-fluid ">
    </div>

</div>


<div class="row m-0 p-0">

    <div class="col-12 col-md-6 cardd text-center m-0 p-0  order-md-1">
      <img src="/media/img/pic13.png" class="img-fluid ">
    </div>

    <div class="col-12 col-md-6 order-md-2 ">
        <h1><span class="text-primary">Complete visibility</span> of your <span class="text-primary">stock</span> movement </h1>
<!--         <small>customer relatinship manager</small>
 -->        <hr class="bg-warning" style="width: 40%; height: 2px;opacity: 100"><br>
                <p class="lead"> Boring, repetitive tasks is not a human’s job. Let us build custom ERP sofware so you can work on growing your business..</p>          <p class="lead">Let our system handle your sale follow-ups, quotations, work-order , invoicing,challan,P.O and accounts, repetitive market-research. Start using your time for strategic activities..</p>

         <a href="/erp/" class="btn bg-royal rounded-pill text-white" type="button">Read more</a>
    </div>

</div>

<div class="row m-0 p-0">
    <div class="col-12 col-md-6 order-md-1 ">
        <h1>Make <span class="text-danger">(B.O.M)</span> of product to get all precise report</h1>
        <small>Batch of manufacture</small>
        <hr class="bg-green" style="width: 40%; height: 2px;opacity: 100">
                <p class="lead"> Boring, repetitive tasks is not a human’s job. Let us build custom ERP sofware so you can work on growing your business..</p>          <p class="lead">Let our system handle your sale follow-ups, quotations, work-order , invoicing,challan,P.O and accounts, repetitive market-research. Start using your time for strategic activities..</p>

         <a href="/erp/" class="btn bg-royal rounded-pill text-white" type="button">Read more</a>

    </div>

    <div class="col-12 col-md-6 cardd text-center m-0 p-0  order-md-2">
      <img src="/media/img/pic14.png" class="img-fluid ">
    </div>

</div>


<div class="row m-0 p-0">

    <div class="col-12 col-md-6 cardd text-center m-0 p-0  order-md-1">
      <img src="/media/img/pic15.png" class="img-fluid ">
    </div>

    <div class="col-12 col-md-6 order-md-2 ">
        <h1><span class="text-primary">Issue-workorder</span> directly to automate your <span class="text-primary">stock history</span> </h1>
<!--         <small>customer relatinship manager</small>
 -->        <hr class="bg-warning" style="width: 40%; height: 2px;opacity: 100"><br>
                <p class="lead"> Boring, repetitive tasks is not a human’s job. Let us build custom ERP sofware so you can work on growing your business..</p>          <p class="lead">Let our system handle your sale follow-ups, quotations, work-order , invoicing,challan,P.O and accounts, repetitive market-research. Start using your time for strategic activities..</p>

         <a href="/erp/" class="btn bg-royal rounded-pill text-white" type="button">Read more</a>
    </div>

</div>
<hr>
<div class="row m-0 p-0">
    <div class="col-12 col-md-6 order-md-1 ">
        <h1>Advance Authentication System</h1>
<!--         <small>Batch of manufacture</small>
 -->        <hr class="bg-green" style="width: 40%; height: 2px;opacity: 100">
                <p class="lead"> Boring, repetitive tasks is not a human’s job. Let us build custom ERP sofware so you can work on growing your business..</p>          <p class="lead">Let our system handle your sale follow-ups, quotations, work-order , invoicing,challan,P.O and accounts, repetitive market-research. Start using your time for strategic activities..</p>

         <a href="/erp/" class="btn bg-royal rounded-pill text-white" type="button">Read more</a>

    </div>

    <div class="col-12 col-md-6 cardd text-center m-0 p-0  order-md-2">
      <img src="/media/img/pic16.png" class="img-fluid ">
    </div>

</div>


<div class="row m-0 p-0">

    <div class="col-12 col-md-6 cardd text-center m-0 p-0  order-md-1">
      <img src="/media/img/pic17.png" class="img-fluid ">
    </div>

    <div class="col-12 col-md-6 order-md-2 ">

      <h1>Advanced group authentication</h1>
       <small>Give access to only required section to your staff</small>

        <hr class="bg-warning" style="width: 40%; height: 2px;opacity: 100"><br>
                <p class="lead"> Boring, repetitive tasks is not a human’s job. Let us build custom ERP sofware so you can work on growing your business..</p>          <p class="lead">Let our system handle your sale follow-ups, quotations, work-order , invoicing,challan,P.O and accounts, repetitive market-research. Start using your time for strategic activities..</p>

         <a href="/erp/" class="btn bg-royal rounded-pill text-white" type="button">Read more</a>
    </div>

</div>

<hr>
<div class="row m-0 p-0">
    <div class="col-12 col-md-6 order-md-1 ">
        <h1>Operating system independent</h1>
<!--         <small>Batch of manufacture</small>
 -->        <hr class="bg-green" style="width: 40%; height: 2px;opacity: 100">
                <p class="lead"> Boring, repetitive tasks is not a human’s job. Let us build custom ERP sofware so you can work on growing your business..</p>          <p class="lead">Let our system handle your sale follow-ups, quotations, work-order , invoicing,challan,P.O and accounts, repetitive market-research. Start using your time for strategic activities..</p>

         <a href="/erp/" class="btn bg-royal rounded-pill text-white" type="button">Read more</a>

    </div>

    <div class="col-12 col-md-6 cardd text-center m-0 p-0  order-md-2">
      <img src="/media/img/pic18.png" class="img-fluid ">
    </div>

</div>

</div>
<br>
<br>

<script>

    ScrollReveal.debug = true;

   window.sr= ScrollReveal();

    sr.reveal('.cardd',{
    duration:1500,
    origin:'bottom',
    distance:'100px',
    viewFactor:0.1,
   });

    sr.reveal('.cardd1',{
    duration:1300,
    origin:'left',
    distance:'200px',
    viewFactor:0.1,
   });

  </script>


{##}
{#<div class="connt">#}
{#		    <br class="d-none d-lg-block">#}
{##}
{#	<div class="row m-0 p-0">#}
{##}
{#		<div class="col-12 col-md-6 prodimg text-center m-0 p-0  order-md-2">#}
{#			<img src="/media/photos/sf5.png" class="img-fluid">#}
{#		</div>#}
{##}
{##}
{#		<div class="col-12 col-md-6 order-md-1">#}
{#				<h1>Cutom ERP Software </h1>#}
{#				<hr class="bg-warning" style="width: 40%; height: 2px;opacity: 100">#}
{##}
{#				<p class="">Do you want to lessen or fully eliminate the boring and repetitive tasks from your business? </p>#}
{##}
{#				<p class="">We aim to build tools/bots which will accomplish these boring and energy-draining, but important tasks for you.</p>#}
{##}
{#				<p class="">We helped our customers integrate and centralize their data from different files, CRM’s and databases in one control center. Now all their incoming leads are gathered in one place. They can automatically handle sale follow-ups, email- sequences, and text messages</p>#}
{##}
{#				<p class="">#}
{#				<b>Manufacturers, Suppliers, and industries</b> have benefited from these services.#}
{#Are you craving to automate some specific daily procedure from your business? Let us know and we will gladly help you free up your time.#}
{##}
{#				</p>#}
{##}
{#				<p class="">#}
{#					Are you craving to automate some specific daily procedure from your business? Let us know and we will gladly help you freeing up your time.#}
{##}
{##}
{#				</p>#}
{##}
{##}
{#				<!--#}
{#				<p class="lead" >We tailor custom software for your specific needs and requests. At later stages we would gladly help you add new features and make adjustments so your software keeps supporting your new business needs.</p> -->#}
{#		</div>#}
{##}
{#	</div>#}
{#<br>#}
{##}
{#	<div class="row m-0 p-0">#}
{##}
{##}
{#		<div class="col-12 col-md-6 text-center m-0 p-0 ">#}
{#			<img src="/media/photos/sf5.png" class="img-fluid">#}
{#		</div>#}
{##}
{#		<div class="col-12 col-md-6 ">#}
{#				<h3 class="text-warning heaad">Benefits of our system</h3>#}
{#				<hr class="bg-royal" style="width: 40%; height: 2px;opacity: 100">#}
{##}
{#				<p class="">Satisfaction that comes with our system#}
{#Our system handles your sale follow-ups, quotations, work-order, invoicing, challan, and P.O, and accounts, repetitive market research. Start using your time for strategic activities.#}
{#</p>#}
{#		</div>#}
{##}
{##}
{##}
{#	</div>#}
{##}
{#	<br>#}
{#	<br>#}
{##}
{##}
{##}
{#</div>#}


{% endblock %}