
<div  class="bg-black  py-4 " >
	<div class="container">
		<div class="row m-0 p-0">
			<div class="col-12 col-md-6">
		    	<h3 class="m-4 text-white heaad">Get in touch with us!</h3>
            <div class="text-left text-white">
                <p class="lead">We offer a free 30 minute consultation without further obligation.</p>
{#                 <button type="button" class="btn btn-warning btn-lg">CONTACT US</button>#}
                <div class="d-grid gap-2">
                 <a href="{% url 'contact_us' %}" type="button" class="btn btn-warning rounded-pill btn-lg">CONTACT US</a>
                </div>

            </div>

		   </div>


			<div class="col-12 col-md-6 text-white">
				<h3 class="m-4">OUR FREE CONSULT INCLUDES:</h3><br>
				<h6>High-Level Analysis</h6><hr>
				<h6>Best Practices</h6><hr>
				<h6>Understanding Possible Challenges</h6><hr>
				<h6>How To Tackle These Challenges</h6><hr>
				<h6>Technology Stack Recommendation</h6>


			</div>
				</div>

			<hr class="bg-royal" style="width: 100%; height: 2px;opacity: 100">
			<div class="row m-0 p-0 text-center text-white">
				<div class="col-12 col-md-2"><b class="">© 2021 HYPERDEC</b></div>
				<div class="col-12 col-md-2"><p class="">hyperdec@gmail.com</p></div>
				<div class="col-12 col-md-2"><b class="">+91-9768890726</b></div>
				<div class="col-12 col-md-2"><a href="{% url 'pri' %}" class="text-white" style="text-decoration: none;"><b class="">Privacy Policy</b></a></div>
				<div class="col-12 col-md-2">
<!-- 					<b class="">© 2021 HYPERDEC</b>
 -->				</div>


			</div>





	</div>
</div>
