   <nav class="navbar navbar-expand-lg  navbar-dark bg-black p-0 m-0 py-1 px-3">
        <div class="container">
  <a class="navbar-brand mr-auto " href="{% url "test" %}">Hyperdec.com</a>

  <button class="btn-warning-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse py-2" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="naav" class="nav-link" href="{% url "test" %}">Home</a>
      </li>
      <li>
        <a class="naav" class="nav-link" href="{% url "service" %}">Services</a>
      </li>
      <li>
        <a class="naav" class="nav-link" href="#port">Portfolio</a>
      </li>
      <li>
        <a class="naav" class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
        </div>
</nav>