<nav class="navbar navbar-expand-lg navbar-white bg-black" >
  <div class="container">

    <a class="h3 navbar-brand llink" href="{% url "test" %}" >
                    <img src="/media/logop2.png" alt="" width="150" height="50" class="d-inline-block align-text-top">

     <!--<span class="py-auto">Hyperdec</span>-->
     <!--<small class="text-right">solutions</small>-->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="/media/square (1).png" style="max-height:50px;max-width: 50px">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-white">
      <li class="nav-item">
       <a class="nav-link llink mx-4" href="{% url "test" %}"><b>Homepage</b></a>
     </li>

    <li class="nav-item dropdown">

      <a class=" nav-link  llink mx-4 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <b>Our services</b>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'sof' %}">Software Development</a></li>
        <li><a class="dropdown-item" href="{% url 'wev' %}">WEB & APP DEVELOPMENT</a></li>
        <li><a class="dropdown-item" href="{% url 'data' %}">Data Mining</a></li>
        <li><a class="dropdown-item" href="{% url 'erp' %}">Custom ERP Software</a></li>
      </ul>
    </li>
        <li class="nav-item">
            <a class="nav-link llink mx-4" href="{% url 'service' %}" ><b>our work</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link llink mx-4" href="{% url 'contact_us' %}" ><b>Contact us</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link llink mx-4" href="{% url 'Bloglist' %}" ><b>Blog</b></a>
        </li>
      </ul>

    </div>
  </div>
</nav>














{#<nav class="navbar navbar-expand-lg navbar-white bg-black" >#}
{#  <div class="container">#}
{#    <a class="navbar-brand llink" href="{% url "test" %}" >#}
{#      <img src="/media/2.png" alt="" width="500%" height="100%" >#}
{#      Hyperdec#}
{#    </a>#}
{#    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#      <img src="/media/square (1).png" style="max-height:32px;max-width: 32px">#}
{#    </button>#}
{#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-white">#}
{#      <li class="nav-item">#}
{#       <a class="nav-link llink mx-4" href="{% url "test" %}"><H5>Homepage</H5></a>#}
{#     </li>#}
{##}
{#    <li class="nav-item dropdown">#}
{##}
{#      <a class="h5 nav-link  llink mx-4 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#        Our services#}
{#      </a>#}
{#      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#        <li><a class="dropdown-item" href="{% url 'sof' %}">Software Development</a></li>#}
{#        <li><a class="dropdown-item" href="{% url 'wev' %}">WEB & APP DEVELOPMENT</a></li>#}
{#        <li><a class="dropdown-item" href="{% url 'data' %}">Data Mining</a></li>#}
{#        <li><a class="dropdown-item" href="{% url 'erp' %}">Custom ERP Software</a></li>#}
{#      </ul>#}
{#    </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link llink mx-4" href="{% url 'service' %}" ><h5>Case Studies</h5></a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link llink mx-4" href="{% url 'contact_us' %}" ><h5>Contact us</h5></a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link llink mx-4" href="{% url 'Bloglist' %}" ><h5>Blog</h5></a>#}
{#        </li>#}
{#      </ul>#}
{##}
{#    </div>#}
{#  </div>#}
{#</nav>#}
{##}
{##}
{##}
{##}
{##}






{#   <nav class="navbar navbar-expand-lg  navbar-dark bg-black p-0 m-0 py-1 px-3">#}
{#        <div class="container">#}
{#  <a class="navbar-brand mr-auto " href="{% url "test" %}">Hyperdec.com</a>#}
{##}
{#  <button class="btn-warning-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#    <span class="navbar-toggler-icon"></span>#}
{#  </button>#}
{##}
{#  <div class="collapse navbar-collapse py-2" id="navbarSupportedContent">#}
{##}
{#    <ul class="navbar-nav ml-auto">#}
{#      <li class="nav-item">#}
{#        <a class="naav" class="nav-link" href="{% url "test" %}">Home</a>#}
{#      </li>#}
{#      <li>#}
{#        <a class="naav" class="nav-link" href="{% url "service" %}">Services</a>#}
{#      </li>#}
{#      <li>#}
{#        <a class="naav" class="nav-link" href="#port">Portfolio</a>#}
{#      </li>#}
{#      <li>#}
{#        <a class="naav" class="nav-link" href="{% url 'contact_us' %}">Contact</a>#}
{#      </li>#}
{#      <li>#}
{#        <a class="naav" class="nav-link" href="{% url 'Bloglist' %}">BLOG</a>#}
{#      </li>#}
{#    </ul>#}
{#  </div>#}
{#        </div>#}
{#</nav>#}
