{% extends 'base.html' %}

{% block body %}

<div class=" bg-royal text-white text-center py-5">

<h5 class="mt-5 pt-5">HYPERDEC</h5>
<h1 class="herohead mb-5 pb-5">Privacy Policy</h1>

</div>
<br>

	<div class="container text-left px-5">
		<div class="">
			<p class="lead">
				Privacy Policy of HYPERDEC, hereafter referred to as HYPERDEC, owner of www.HYPERDEC.com, hereafter referred to as ‘the Website’.
			</p>

			<br>

			<h2>Guarantees Privacy</h2>
			<hr class="bg-warning" style="width: 20%; height: 2px;opacity: 100">
			<br>
			<p class="lead">
				Guaranteeing privacy of our visitors of the website is an important task for us. That’s why we describe which information we collect and how we use this information in our privacy policy.
			</p>

			<br>

			<h2>Consent</h2>
			<hr class="bg-warning" style="width: 20%; height: 2px;opacity: 100">
			<br>
			<p class="lead">
				By using the information and services on the Website, you agree to our privacy policy and the conditions we have recorded herein.

			</p>

			<br>

			<h2>Questions</h2>
			<hr class="bg-warning" style="width: 20%; height: 2px;opacity: 100">
			<br>
			<p class="lead">
			If you want to receive more information, or you have questions about the privacy policy of GMCOLAB, and more specifically the Website, you can reach us by means of e-mail.
			Our e-mail address is hyperdec@gmail.com

			</p>			<br>

			<h2>Monitoring behaviour of visitor</h2>
			<hr class="bg-warning" style="width: 20%; height: 2px;opacity: 100">
			<br>
			<p class="lead">
			The Website uses different techniques to keep an overview of who visits the Website, how this user surfs the Website and which pages are visited. That is a common technique for websites because it provides information that contributes to the quality of the user experience. The information we register with cookies consists, among others, of IP addresses, type of browser and visited pages.

			Moreover, we monitor where visitors enter the Website and which page they leave from. This information is collected anonymously and is not connected to other personal information.
			</p>


			<br>
			<br>

<!-- 			<br>

			<h2>Use of cookies</h2>
			<br>
			<p class="lead">
				By using the information and services on the Website, you agree to our privacy policy and the conditions we have recorded herein.

			</p>			<br>

			<h2>Consent</h2>
			<br>
			<p class="lead">
				By using the information and services on the Website, you agree to our privacy policy and the conditions we have recorded herein.

			</p> -->


		</div>






	</div>




</div>


{% endblock %}