<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Hyperdec.com</title>
      {% include 'style.html' %}
              <script src="https://unpkg.com/scrollreveal"></script>


  </head>
  <body class=" bg-royal">

<div class="container">
    <h1><a class="text-white" href="{% url 'test' %}"> &#8592;</a></h1>
<div class="pricing-header text-white px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h4>EXPLORE OUR</h4>
      <h1 class="display-4 font-weight-normal">Case Studies</h1>
      <p class="lead">Below your can browse through some of our previous projects where we developed tools and platforms to help solve our customers' problems.</p>
    </div>



<div class="row mx-2 ">

{% for i in object_list %}
    <div class="col-md-6  cardd col-lg-4 ">
        <div class="card mb-4 shadow-sm text-left">
          <div class="card-header">
            <h5 class="my-0 font-weight text-center  text-dark">{{ i.title }}</h5>
          </div>
          <div class="card-body text-center text-dark">

           <img src="/media/{{i.img}}" class="card-img-top m-0 p-0" style="max-height:500px;max-width:500px">
           <hr class="bg-dark hrs2">


              <p>{{ i.head }}</p>


            </ul>
            <a href="{% url 'service_details' i.id %}" class="btn btn-lg btn-block bg-black text-white">know more</a>
          </div>
        </div>
        </div>
{% endfor %}
  </div>


</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
    <script>

        ScrollReveal.debug = true;

   window.sr= ScrollReveal()

//   sr.reveal('.container',{
//     duration:2000,
//     origin:'bottom'
//   })

   sr.reveal('.prodimg',{
    duration:1000,
    origin:'top',
    distance:'50px',
   viewFactor:0.4,

   });

   sr.reveal('.showr',{
    duration:2000,
    origin:'top',
    distance:'500px',

   })

   sr.reveal('.mainshow',{
    duration:1500,
    origin:'top',
    distance:'500px',

   })


   sr.reveal('.lbt',{
    duration:2000,
    delay:2000,
    origin:'bottom ',
   })

   sr.reveal('.cardd',{
    duration:1500,
    origin:'top',
    distance:'200px',
    viewFactor:0.1,
   })


  </script>
{% include 'footer.html' %}

</html>