{% extends 'base.html' %}

{% block body %}


<br>
<br><br>
<br><br>

<div class="connt">

	<div class="row m-0 p-0">

		<div class="col-12 prodimg col-md-6 text-center m-0 p-0  order-md-2">
			<img src="/media/photos/sf1.png" class="img-fluid" >
		</div>


		<div class="col-12 col-md-6 order-md-1">
				<h1>Custom Software Development
</h1>
				<hr class="bg-warning" style="width: 40%; height: 2px;opacity: 100">

				<p class="">Winning businesses adapt to new situations, seize new opportunities, and are atypical at times. </p>

				<p class="">Is your business ahead of the pack? Did you outgrow your current software? Did you try off the shelf available software, but it does  not fit your specific needs?</p>

				<p class="">We tailor custom software for your specific needs and requests.  At later stages we would gladly help you add new features and make adjustments so your software keeps supporting your new business needs.</p>

				<p class="">Tell us your vision and together we can make it happen. Our developers are experts with many years of combined experience in software engineering. We will create your software solution, which will will give you the flexibility and competitive edge you need.</p>

				<!--
				<p class="lead" >We tailor custom software for your specific needs and requests. At later stages we would gladly help you add new features and make adjustments so your software keeps supporting your new business needs.</p> -->
		</div>

	</div>


	<div class="row m-0 p-0">

		<div class="col-12 prodimg col-md-6 text-center m-0 p-0  order-md-1">
			<img src="/media/photos/sf2.png" class="img-fluid" >
		</div>


		<div class="col-12 col-md-6 order-md-2">
				<h1>LET'S DO IT TOGETHER​</h1>
				<hr class="bg-warning" style="width: 40%; height: 2px;opacity: 100">

				<p class="">We believe that the software we build should support your business needs and expectations. The development process that we follow is done in steps </p>

				<p class="">During the project, you become part of the development team. We will work closely together and you will be involved every step of the way. Writing custom software demands a great involvement and time investment from us together.</p>

				<p class="">The first step in the process is to fully understand and record your wants and needs. Herefore, we will want to speak to the people who will use the software. We then translate your expectations into actionable requirements</p>

				<p class="">At the end of every step, after we implement part of the overall functionality, you have the opportunity to evaluate that part of the project and make comments. The closer we work together the better the final product will fit your needs.</p>

				<p class="">We value transparent communication so we can deliver a project<b> fully customized</b> to your desires. Depending on what you envision we provide you the right <b> web-based</b> or <b>mobile solution</b>              for your needs.</p>


		</div>

	</div>

	<br>
	<br>



</div>

{% endblock %}