{% extends 'base.html' %}

{% block body %}


<!--<br>-->
<!--<br><br>-->
<!--<br><br>-->

<div class="connt">
		    <br class="d-none d-lg-block">
	<div class="row m-0 p-0">

		<div class="col-12 col-md-6 prodimg text-center m-0 p-0   order-md-2">
			<img src="/media/test.gif" class="img-fluid m-0 p-0">
		</div>


		<div class="col-12 col-md-6 order-md-1">
		    <br>
				<h1>Web Development</h1>
				<hr class="bg-warning" style="width: 40%; height: 2px;opacity: 100">

				<p class="lead2">We design and create web and mobile applications that help to <b>connect</b> with desired <b>business</b> goals, which amazes <b>customers</b> and solves user obstacles.</p>

				<p class="lead2">Regardless of the <b>fundamental idea</b>, we will supervise you throughout the whole software development and graphic design process and help you with further app development, both technology and business-wise. </p>

				<p class="lead2"><b>Web development is our core competency</b> and we have an organized approach to working with customers around the world. If you require a website that accomplishes your business goals,<b> we can design, build, test, and ensure it works perfectly on all devices.</b> </p>
                <b>
                <ul>
                    <li>Business website</li>
                    <li>Brochure and Catalogue website</li>
                    <li>eCommerce Websites </li>
                    <li>Non-profit  websites</li>
                    <li>Educational  websites</li>
                    <li>Portal websites</li>
                    <li>news Blog websites</li>
                    <li>Portfolio/CV websites</li>

                </ul>
                  </b>


				<!--
				<p class="lead" >We tailor custom software for your specific needs and requests. At later stages we would gladly help you add new features and make adjustments so your software keeps supporting your new business needs.</p> -->
		</div>

	</div>

	<div class="row m-0 p-0">


		<div class="col-12 col-md-6 prodimg text-center m-0 p-0 ">
			<img src="/media/tete.png" class="img-fluid" >
		</div>

		<div class="col-12 col-md-6 ">
				<h3 class="text-warning heaad">Design and technology</h3>
				<hr class="bg-royal" style="width: 40%; height: 2px;opacity: 100">

<p class="lead2">To create a contemporary website that generates results and encourages forward growth, you need a great design, a responsive front-end, and a solid back-end. At Hyperdec solutions, we have artistic designers and experienced engineers armed with a stack of proven technologies. We provide web development on <a href="#" style="text-decoration: none; ">PYTHON, DJANGO, JAVASCRIPT, Dart, flutter</a>, platforms.</p>
		</div>



	</div>

	<br>
	<br>



</div>


{% endblock %}