{% extends 'base.html' %}

{% block body %}


<br>
<br><br>
<br><br>

<div class="connt">

	<div class="row m-0 p-0">

		<div class="col-12 col-md-6 prodimg text-center m-0 p-0  order-md-2">
			<img src="/media/photos/sf5.png" class="img-fluid">
		</div>


		<div class="col-12 col-md-6 order-md-1">
				<h1>Web Development</h1>
				<hr class="bg-warning" style="width: 40%; height: 2px;opacity: 100">

				<p class="">We design and create web and mobile apps that help reach business goals, amaze customers and solve user problems. </p>

				<p>Regardless of the initial idea, we will guide you through the whole software development and graphic design process and help you with further app development, both technology and business-wise. </p>

				<p class="">WE. provides custom web development services. Web development is our core competency and we have an established approach to working with customers around the world. If you need a website that achieves your business goals, we can design, build, test, and ensure it works perfectly on all devices. </p>



				<!--
				<p class="lead" >We tailor custom software for your specific needs and requests. At later stages we would gladly help you add new features and make adjustments so your software keeps supporting your new business needs.</p> -->
		</div>

	</div>
<br>

	<div class="row m-0 p-0">


		<div class="col-12 col-md-6 prodimg text-center m-0 p-0 ">
			<img src="/media/photos/sf5.png" class="img-fluid" >
		</div>

		<div class="col-12 col-md-6 ">
				<h3 class="text-warning heaad">Design and technology</h3>
				<hr class="bg-royal" style="width: 40%; height: 2px;opacity: 100">

<p>To build a modern website that gets results and drives forward growth, you need a great design, a responsive front-end and solid back-end. At Hyperdec, we have creative designers and experienced engineers armed with a stack of proven technologies. We provide web development on
    <a href="#">PYTHON</a> ,
    <a href="#">DJANGO</a>,
    <a href="#">JAVASCRIPT</a>,
    <a href="#">Dart</a>,
    <a href="#">flutter</a>,
     platforms.</p>
		</div>



	</div>

	<br>
	<br>



</div>


{% endblock %}